.navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    width: 100%;
    text-align: center;
}

.menu_list {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: height 1s;
}

.menu h1 {
    padding: 1rem;
    padding-top: 3rem;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    display: none;
}

.nav_link {
    padding: 1rem;
    padding-top: 3rem;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 600px) {
    .nav_link {
        width: 100%;
        text-align: center;
    }
    
    .menu_list {
        height: 0px;
        overflow: hidden;
    }

    .menu h1 {
        display: block;
    }

    .menu_open {
        height: 400px;
    }

}